body {
    font-family:aloja;
    background-image: url('../image/home/Untitled\ design.png');
}
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}
h1 {
    text-align: center;
    font-weight:bolder;
    font-size: 40px;
}
.question {
    margin-bottom: 20px;
    font-size: 25px;
    font-weight:bold ;
}
.options {
    display: list;
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: left;

}
.option {
    background-color: rgb(75, 132, 168);
    border: 1px solid #000000;
    padding: 20px;
    text-align: left;
    cursor: pointer;
}
.option:hover {
    background-color: #2149c0;
}