body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-weight: bold;
    background-image: url('../image/home/background.jpg');
    background-size: auto 45%; /* Set the size of the background image to cover 50% of the height */
    background-position: top; /* Start the background image from the top */
    background-repeat: no-repeat; /* Prevent repeating the background image */
}

header {
    background-color: rgb(0, 0, 0 ,.50); /* Semi-transparent dark background color */
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure it's above other elements */
}

.container {
    display: flex;
    justify-content: flex-start; /* Align items to the left */
    align-items: center;
    max-width: 1450px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 45px;
    margin-right: 10px;
}

.company-name {
    color: #ffffff;
    font-family: aloja;
    font-weight: bold;
    font-size: 1.2em;
}

nav ul {
    list-style-type: none; /* Remove the default bullet points */
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    list-style-type: none; /* Remove the default bullet points */
    margin-right: 20px; /* Add space between navigation items */
}

nav ul li:last-child {
    list-style-type: none; /* Remove the default bullet points */
    margin-right: 0; /* Remove margin for the last navigation item */
}

nav ul li a {
    color: #fff; /* White text color */
    text-decoration: none;
    padding: 10px 20px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #d9bf15; /* Lighter text color on hover */
}

.hero {
    color: #ffffff; /* Text color */
    padding: 100px;
    text-align: center;
    margin-top: 200px;
}

.hero .container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero p {
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
    margin-bottom: 30px;
    line-height: 30px;
}

.btn-container{
    display: flex;
    justify-content: center;
}

.hero .btn {
    background-color: #4baa8a; /* Button background color */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    color: #fff; /* Button text color */
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    
}

.hero .btn:hover {
    background-color: #109166; /* Lighter button background color on hover */
}

.intro-section {
    background-color: #181616; /* Dark background color */
    color: #ffffff; /* Text color */
    padding: 100px 0;
    text-align: center;
    margin-top: 180px; /* Add margin to push the intro section down */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.intro-content {
    flex: 1; /* Take up remaining space */
    text-align: left;
    max-width: 600px; /* Adjust as needed */
    margin-right: 50px; /* Add space between content and image */
}


.intro-content p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 30px;
}

.intro-image {
    flex: 1; /* Take up remaining space */ ;
    
}

.intro-image img {
    width: 100%; /* Ensure image fills container */
    max-width: 100%; /* Ensure image does not exceed its original size */
    display: block; /* Remove extra space below image */
}

.about-us {
    background-color: #222; /* Dark background color */
    color: #fff; /* Text color */
    padding: 80px 0;
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space between items */
}

.about-description {
    width: 50%; /* Take half of the container width */
    padding: 0 20px; /* Add some padding */
    box-sizing: border-box; /* Include padding in width calculation */
}
.about-us h2 {
    font-size: 2.5em;
    margin-bottom: 40px; /* Add some space below the heading */
    text-align: left; /* Align the heading to the left */
}

.about-description h2 {
    font-size: 1.5em; /* Adjust the font size for consistency */
    text-align: left; /* Align text to the left */
}

.about-description p {
    font-size: 1em;
    text-align: left; /* Align text to the left */
    line-height: 27px;
}

.team-members {
    font-family: aloja;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end; /* Align team members to the right */
    width: 50%; /* Take half of the container width */
}

.team-member {
    margin: 0 20px;
    text-align: center;
}

.team-member img {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.team-member p {
    font-size: 1em; /* Adjust the font size for consistency */
}



.contact {
    background-color: #1b1b1b; /* Dark background color */
    color: #fff; /* Text color */
    padding: 80px 0;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.contact h2 {
    font-size: 2.5em;
    margin-bottom: 40px; /* Add some space below the heading */
}

.contact-image {
    flex: 1; /* Take up remaining space */ ;
    
}

.contact-image img {
    height: fit-content;
    width: fit-content;
    display: block; /* Remove extra space below image */
}





